**Palindromic Words**

Given a sentence as a string A.

Return the number of palindromic words in the sentence.

Input 1:

A = "the fastest racecar"

Input 2:

A = "wow mom"

Output 1:

1

Output 2:

2

In [ ]:
def palindromic_words(string):
  count = 0
  split_string = string.split(' ')
  for word in split_string:
    if word == word[::-1]:
      count = count + 1
  return count

In [ ]:
palindromic_words('wow mom')

2

In [ ]:
palindromic_words('the fastest racecar')

1



**Positive Negative**

Given an integer array A.

Find the number of positive and negative integers in it an return them in an array.

Example Input:

Input 1:

A = [1, 2, 3]

Input 2:

A = [1, 0, -1]

Example Output:

Output 1:

[3, 0]

Output 2:

[1, 1]

In [ ]:
def count_positive_negetive(array):
  '''This function returns the count of positive and negetive numbers in an input array'''
  count1 = 0
  count2 = 0
  for i in array:
    if i < 0:
      count1 = count1 + 1
    elif i > 0:
      count2 = count2 + 1
  return [count2,count1]

In [ ]:
count_positive_negetive([1,2,3])

[3, 0]

In [ ]:
count_positive_negetive([1,0,-1])

[1, 1]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
1 in range(10)

True

**Valid Password**

Given a password as a character array A.

Check if it is valid or not.

  * Password should have at least one numerical digit(0-9).

  * Password's length should be in between 8 to 15 characters.

  * Password should have at least one lowercase letter(a-z).

  * Password should have at least one uppercase letter(A-Z).

  * Password should have at least one special character ( @, #, %, &, !, $, *).

In [ ]:
def valid_password(password):
  '''This function checks if the password is valid or not'''
  if (len(password)<8 or len(password)>15):
    return 0
  s=c=d=ss=False
  for i in password:
    if (i >= 'a' and i <= 'z'):
      s = True
    elif (i >= 'A' and i <= 'Z'):
      c = True
    elif (i in "@#%&!$*"):
      ss = True
    elif (i >= '0' and i <= '9'):
      d = True
  if (s and c and ss and d):
    return 1
  return 0

In [ ]:
valid_password(['S', 'c', 'a', 'l', 'e', 'r', '@', '1'])

1

In [ ]:
# New approach
def password(A):
  count1 = 0
  count2 = 0
  count3 = 0
  count4 = 0
  if (len(A) >= 8) & (len(A) <=15):
    for i in A:
      if i in '0123456789':
        count1 = count1 + 1
    for j in A:
      if j in 'abcdefghijklmnopqrstuvwxyz':
        count2 = count2 + 1
    for k in A:
      if k in 'ABCDEFGHIJKLMNOPQRSTUVWQYZ':
        count3 = count3 + 1
    for l in A:
      if l in '@#%&!$*':
        count4 = count4 + 1
    print(count1,count2,count3,count4)
    if count1 & count2 & count3 & count4 >=1:
      print('valid password')
    else:
      print('invalid password') 
  else:
    print('invalid password')

**Diagonal Flip**

Given a square binary matrix of drimensions NÃ—N.
Flip the matrix diagonally and return the matrix.

Input 1:

A = 4

B = [[1, 0],
     [0, 1]]

Input 2:

A = [[1, 0],
     [1, 0]]
Output 1:

[[1, 0],
 [0, 1]]
 
Output 2:

[[1, 1],
 [0, 0]]

In [ ]:
def transpose(matrix):
  '''This function transposes the inputed matrix'''
  list_1 = []
  list_2 = []
  # Appending the values of matrix in both the lists.
  list_1.append(matrix[0][0])
  list_1.append(matrix[1][0])
  list_2.append(matrix[0][1])
  list_2.append(matrix[1][1])
  return [list_1,list_2]

In [ ]:
transpose([[1,0],[1,0]])

[[1, 1], [0, 0]]

**StringInversion**

Given a string A. Change the cases of all the characters.
If the character is lowercase convert it to uppercase and if the character is uppercase convert it to lowercase.

In [ ]:
def stringinversion(string):
  empty_string = ''
  for letter in string:
    if letter.isupper():
      empty_string = empty_string + letter.lower()
    else:
      empty_string = empty_string + letter.upper()
  return empty_string

In [ ]:
stringinversion('Sh')

'sH'

In [ ]:
# Learn from this mistake
def stringinversion(string):
  empty_string = ''
  for letter in string:
    if letter.isupper():
      x = empty_string + letter.lower()
    else:
     x = empty_string + letter.upper()
  return x

'R'

Given a string A consisting of only characters 'a' and 'b'.
Divide the string into substrings of length B.
Find the subtring with maximum count of 'a' and return the count.

Note: If the length of the string is not a multiple of B and there are some characters left in the end consider them also as a substring.

Input 1:

A = "baab"

B = 2

Input 2:

A = "bba"

B = 2

In [ ]:
# Step 1 Dividing the string 'A' with an integer 'B'
def maximum_substring(A,B):
  x = round(len(A) / B)
  string1 = A[:x - 1]
  string2 = A[(x):]
# Step 2 Returning the max counts of a in a particular string.
  if string1.count('a') > string2.count('a'):
    return string1.count('a')
  else:
    return string2.count('a')

In [ ]:
maximum_substring('baaba',2)

2

Given an integer array A.
Find the count of elements whose value is greater than all of its previous elements.

Note: Since there are no elements before first element so it should be considered in our answer.

In [ ]:
def greater_than_all(num):
  current_max = 0
  ans = 0
  for i in num:
    if i > current_max:
      ans = ans + 1
      current_max = i
  return ans

In [ ]:
greater_than_all([1,1,2,2])

2

In [ ]:
greater_than_all([1,2,3,4])

4

**Chips Factory**



A chips factory is packing chips in packets.
The packets of chips are represented as an array A.

Find the packet of chips which are empty (Ai = 0) and move them to the end the array.

Return the resultant array.

In [ ]:
def chips_factory(list_1):
  e = []
  e1 = []
  for i in list_1:
    if i > 0:
     e.append(i)
    if i == 0:
      e1.append(i)
  return e + e1

In [ ]:
chips_factory([0,1,2,3])

[1, 2, 3, 0]

In [ ]:
chips_factory([1,0,0,0])

[1, 0, 0, 0]

**Frequency_of_Characters**

Given a string A, find the frequency of all the characters in it.

Input 1:

A = "abcdefghijklmnopqrstuvwxyz"

Input 2:

A = "interviewbit"

Output 1:

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Output 2:

[0, 1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0]

In [ ]:
def Frequency_of_Characters(string):
  A = 'abcdefghijklmnopqrstuvwqyz'
  freq = []
  for i in A:
    freq.append(string.count(i))
  return freq

In [ ]:
Frequency_of_Characters("interviewbit")

[0, 1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0]

**Greater of Lesser**

Given two integer arrays A and B, and an integer C.

Find the number of integers in A which are greater than C and find the number of integers in B which are less than C.

Return maximum of these two values.

Input 1:

A = [1, 2, 3, 4]

B = [5, 6, 7, 8]

C = 4
Input 2:

A = [1, 10, 100]

B = [9, 9, 9]

C = 50

Output 1:

0

Output 2:

3

In [ ]:
def Greater_of_Lesser(A,B,C):
  count = 0
  count1 = 0
  c_list = []
  for i in A:
    if i > C:
      count = count + 1
  for j in B:
    if j < C:
      count1 = count1 + 1
  c_list.append(count)
  c_list.append(count1)
  return max(c_list)

In [ ]:
Greater_of_Lesser([1, 2, 3, 4],[5, 6, 7, 8],4)

0

In [ ]:
Greater_of_Lesser([1, 10, 100],[9, 9, 9],50)

3

###Pythagorean triplets

A Pythagorean triplet is a set of three integers a, b and c such that a2 + b2 = c2.

Find the number of pythagorean triplets such that all the elements of the triplet are less than or equal to A.

Input 1:

A = 5

Input 2:

A = 13

Output 1:

1

Output 2:

3

Explanation 1:

Then only triplet is {3, 4, 5}

Explanation 2:

The triplets are {3, 4, 5}, {6, 8, 10}, {5, 12, 13}.

In [ ]:
def triplets(num):
  count = 0
  for i in range(1,num + 1):
    for j in range(1,num + 1):
      for k in range(1,num + 1):
        if (i**2) + (j**2) == (k**2):
          count = count + 1
  return int(count/2)

In [ ]:
triplets(13)

3

 ***Character Frequencies***

Given a string A containing only lowercase characters.

Find the frequencies of the characters in order of their occurrence.

Input 1:

A = "interviewbit"

Input 2:

A = "scaler"

Output 1:

[3, 1, 2, 2, 1, 1, 1, 1]

Output 2:

[1, 1, 1, 1, 1, 1]

In [ ]:
# New method for char frequencies.
def char_freq(A):
  char_list = []
  for index,i in enumerate(A):
    if i not in A[:index]:
      char_list.append(A.count(i))
  return char_list

In [ ]:
char_freq('interviewbit')

In [ ]:
char_freq('scaler')

In [ ]:
def Character_Frequencies(A):
  index = 0
  list_1 = []
  for i in range(len(A)):
    if A[i] not in A[:index]:
      list_1.append(A.count(A[i]))
      index = index + 1
  return list_1

In [ ]:
Character_Frequencies('interviewbit')

[3, 1, 2, 2, 1, 1, 1, 1]

**Max Min**

Problem Description

Given an array A of size N. You need to find the sum of Maximum and Minimum element in the given array.

Input 1:

 A = [-2, 1, -4, 5, 3]

 Input 2:

 A = [1, 3, 4, 1]

 Output 1:

 1
Output 2:

 5

In [ ]:
def max_min(A):
  maxi = max(A)
  mini = min(A)
  return maxi - mini

In [ ]:
def max_min(A):
  mx = -float("inf")
  mi = float("inf")

  for i in range(len(A)):
    val = A.pop()
    if val > mx:
        mx = val
    if val < mi:
        mi = val

  return mx+mi

**First Repeating element**

Problem Description

Given an integer array A of size N, find the first repeating element in it.

We need to find the element that occurs more than once and whose index of first occurrence is smallest.

If there is no repeating element, return -1.

Input 1:

 A = [10, 5, 3, 4, 3, 5, 6]

Input 2:

 A = [6, 10, 5, 4, 9, 120]

Output 1:

 5
 
Output 2:

 -1

In [ ]:
def First_Repeating_element(A):
  list_of_freq = []
  for i in A:
    list_of_freq.append(A.count(i))
  print(list_of_freq)
  if sum(list_of_freq) != len(A):
    max_freq = max(list_of_freq)
    max_freq_index = list_of_freq.index(max_freq)
    return  A[max_freq_index]
  else:
    return -1

In [ ]:
First_Repeating_element([10, 5, 3, 4, 3, 5, 6])

[1, 2, 2, 1, 2, 2, 1]

5

In [ ]:
First_Repeating_element([6, 10, 5, 4, 9, 120])

[1, 1, 1, 1, 1, 1]

-1

**Sort array with squares!**

Problem Description

Given a sorted array A containing N integers both positive and negative.

You need to create another array containing the squares of all the elements in A and return it in non-decreasing order.

In [ ]:
def Sort_array_with_squares(A):
  square_list = []
  for num in A:
    square_list.append(num**2)
  return sorted(square_list)

In [ ]:
Sort_array_with_squares([-5, -4, -2, 0, 1])

[0, 1, 4, 16, 25]

**Leaders in an array**

Given an integer array A containing N distinct integers, you have to find all the leaders in the array A.

 An element is leader if it is strictly greater than all the elements to its right side.

NOTE:The rightmost element is always a leader.

Input 1:

 A = [16, 17, 4, 3, 5, 2]
Input 2:

 A = [1, 2]

 Output 1:

 [17, 2, 5]

Output 2:

 [2]

In [ ]:
# My solution for this problem.
def leader_searching(A):
  list_3 = []
  index = 0
  for i in A:
    index = index + 1
    if i > sum(A[index:]):
      list_3.append(i)      
  return list_3

In [ ]:
leader_searching([16, 17, 4, 3, 5, 2])

[17, 5, 2]

In [ ]:
def leader_searching(A):
  m = A[-1]
  list_1 = []
  A.reverse()
  for i in A:
    if i >= m:
      list_1.append(i)
      m = i
  return list_1

In [ ]:
leader_searching([16, 17, 4, 3, 5, 2])

[2, 5, 17]

**Minimum Parantheses!**

Given a string A of parantheses  â€˜(â€˜ or â€˜)â€™.

The task is to find minimum number of parentheses â€˜(â€˜ or â€˜)â€™ (at any positions) we must add to make the resulting parentheses string valid.

An string is valid if:

Open brackets must be closed by the corresponding closing bracket.
Open brackets must be closed in the correct order.


Input 1:

 A = "())"

Input 2:

 A = "((("

Output 1:

 1
Output 2:

 3

In [ ]:
def Minimum_Parantheses(A):
  open_count = 0
  closed_count = 0
  for i in A:
    if i == '(':
      open_count = open_count + 1
    else:
      closed_count = closed_count + 1
  if open_count == closed_count:
    return 0
  elif open_count > closed_count:
    return open_count - closed_count
  else:
    return closed_count - open_count

In [ ]:
Minimum_Parantheses("())")

1

In [ ]:
Minimum_Parantheses("(((")

3

Given a string A consisting of lowercase characters.

Check if characters of the given string can be rearranged to form a palindrome.

Return 1 if it is possible to rearrange the characters of the string A such that it becomes a palindrome else return 0.

Input 1:

 A = "abcde"

Input 2:

 A = "abbaee"

 Output 1:

 0
Output 2:

 1

In [ ]:
def check_palindrome(A):
  list_pal = []
  for i in A:
    if A.count(i) % 2 == 0:
      list_pal.append('even')
    elif A.count(i) % 2 != 0:
        list_pal.append('odd')
  if list_pal.count('odd') <= 1:
    return 1
  else:
    return 0

In [ ]:
check_palindrome('abcde')

0

In [ ]:
check_palindrome('abbaee')

1

In [ ]:
def leader(A):
  m = A[-1]
  leader = []
  A.reverse()
  for i in A:
    if i >= m:
      leader.append(i)
      m = i
  return leader

In [ ]:
def par(A):
  if A.count('(') > A.count(')'):
    return A.count('(') - A.count(')')
  elif A.count(')') > A.count('('):
    return A.count(')') - A.count('(')
  else:
    return 0

In [ ]:
par("())")

1

**Check Palindrome!**

Given a string A consisting of lowercase characters.

Check if characters of the given string can be rearranged to form a palindrome.

Return 1 if it is possible to rearrange the characters of the string A such that it becomes a palindrome else return 0.

Input 1:

 A = "abcde"
Input 2:

 A = "abbaee"

 Output 1:

 0
Output 2:

 1

 Explanation 1:

 No possible rearrangement to make the string palindrome.
Explanation 2:

 Given string "abbaee" can be rearranged to "aebbea" to form a palindrome.

In [ ]:
def check_palindrome(A):
  list_pal = []
  index = 0
  for i in A:
    if i not in A[:index]:
      if A.count(i) % 2 == 0:
        list_pal.append('even')
      elif A.count(i) % 2 != 0:
          list_pal.append('odd')
      index = index + 1
  if list_pal.count('odd') <= 1:
    return 1
  else:
    return 0

In [ ]:
check_palindrome('abcde')

0

**Multiple left rotations of the array**

Given an array of integers A and multiple values in B around which left rotation of the array A needs to be performed.

Find the rotated array for each value and return the result in the from of a matrix where iâ€™th row represents the rotated

array for the iâ€™th value in B.

Input 1:

    A = [1, 2, 3, 4, 5]

    B = [2, 3]
Output 1:

    [ [3, 4, 5, 1, 2]
      [4, 5, 1, 2, 3] ]

Input 2:

    A = [5, 17, 100, 11]
    
    B = [1]
Output 2:

    [ [17, 100, 11, 5] ]

In [ ]:
def multiple_rotations(A,B):
  ans_list = []
  for i in B:
    i = i % len(A)
    list_1 = A[i:]
    list_1.extend(A[:i])
    ans_list.append(list_1)
  return ans_list

In [ ]:
3 % 5

3

In [ ]:
multiple_rotations([1,2,3,4,5],[2,3])

[[3, 4, 5, 1, 2], [4, 5, 1, 2, 3]]

**Amazing Subarrays**

You are given a string S, and you have to find all the amazing substrings of S.

Amazing Substring is one that starts with a vowel (a, e, i, o, u, A, E, I, O, U).

In [ ]:
# Importing permutations because order doesn't matter here.
from itertools import combinations

In [ ]:
def Amazing_Subarrays(S):

  count = 0
  amazing_list = []
  for i in range(1,len(S)+1):
    for iter in combinations(S,i):
      amazing_list.append(iter)
  print(amazing_list)
  for substrings in amazing_list:
    if substrings[0] in 'aeiouAEIOU':
      count = count + 1
  return count

In [ ]:
Amazing_Subarrays('ABEC')

[('A',), ('B',), ('E',), ('C',), ('A', 'B'), ('A', 'E'), ('A', 'C'), ('B', 'E'), ('B', 'C'), ('E', 'C'), ('A', 'B', 'E'), ('A', 'B', 'C'), ('A', 'E', 'C'), ('B', 'E', 'C'), ('A', 'B', 'E', 'C')]

10

In [ ]:
Amazing_Subarrays('abec')

[('a',), ('b',), ('e',), ('c',), ('a', 'b'), ('a', 'e'), ('a', 'c'), ('b', 'e'), ('b', 'c'), ('e', 'c'), ('a', 'b', 'e'), ('a', 'b', 'c'), ('a', 'e', 'c'), ('b', 'e', 'c'), ('a', 'b', 'e', 'c')]

10

**Wave_array**

Given an array of integers,  sort the array into a wave like array and return it, 

In other words, arrange the elements into a sequence such that  a1 >= a2 <= a3 >= a4 <= a5.....

Example

Given [1, 2, 3, 4]

One possible answer : [2, 1, 4, 3]
Another possible answer : [4, 1, 3, 2]
NOTE : If there are multiple answers possible, return the one thats lexicographically smallest. 

So, in example case, you will return [2, 1, 4, 3]

In [ ]:
def wave_array(A):
  A.sort()
  for i in range(0,len(A)-1, 2):
    A[i],A[i+1] = A[i + 1], A[i]
  return A

In [ ]:
wave_array([1,2,3,4])

[2, 1, 4, 3]

**Reverse the string**

Given a string A.

Return the string A after reversing the string word by word.

NOTE:

A sequence of non-space characters constitutes a word.

Your reversed string should not contain leading or trailing spaces, even if it is present in the input string.

If there are multiple spaces between words, reduce them to a single space in the reversed string.

For Example

Input 1:

    A = "the sky is blue"
Output 1:

    "blue is sky the"

Input 2:

    A = "this is ib"
Output 2:

    "ib is this"

Input 3:

    A = " hello world "
Output 3:

    "world hello"

In [ ]:
def Reverse_the_String(string):
  split_string = string.split()
  split_string.reverse()
  return ' '.join(list(split_string))

In [ ]:
Reverse_the_String('the sky is blue')

'blue is sky the'

In [ ]:
Reverse_the_String('this is ib')

'ib is this'

In [ ]:
Reverse_the_String(" hello world ")

'world hello'

**Length of Last Word**

Given a string s consists of upper/lower-case alphabets and empty space characters ' ', return the length of last word in the string.

If the last word does not exist, return 0.

Note: A word is defined as a character sequence consists of non-space characters only.

Example:

Given s = "Hello World",


return 5 as length("World") = 5.

In [ ]:
def last_word(s):
  list_of_words = s.split()
  return len(list_of_words[-1])

In [ ]:
last_word("Hello World")

5

**Palindrome String**



Given a string, determine if it is a palindrome. While checking for a palindrome, you have to ignore spaces, case, and all special characters; i.e. consider only alphanumeric characters.

Check the sample test case for reference.

Example:

Input 1:

"A man, a plan, a canal: Panama"

Input 2:

"race a car"

Output and Explanation 1:

1

The input string after ignoring spaces, and all special characters is "AmanaplanacanalPanama" which is a palindrome after ignoring the case.

Output and Explanation 2:

0

The input string after ignoring spaces, and all special characters is "raceacar" which is not a palindrome

 

Return 0 / 1 ( 0 for false, 1 for true ) for this problem

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def Palindrome(a):
  empty_string = ''
  for letter in a:
    if letter not in string.punctuation:
      if letter not in ' ':
        empty_string = empty_string + letter
  print(empty_string)
  if empty_string.lower() == empty_string[::-1].lower():
    return 1
  else:
    return 0

In [ ]:
Palindrome('race a car')

raceacar

0

In [ ]:
Palindrome("A man, a plan, a canal: Panama")

AmanaplanacanalPanama

1

**Pascal Triangle**

Given numRows, generate the first numRows of Pascal's triangle.
Pascal's triangle : To generate A[C] in row R, sum up A'[C] and A'[C-1] from previous row R - 1.

Example:

Given numRows = 5,

Return

[
     [1],
     [1,1],
     [1,2,1],
     [1,3,3,1],
     [1,4,6,4,1]
]

In [ ]:
list(range(1,2))

[1]

In [ ]:
def pascal(A):
  ret = []
  if A == 0:
    return ret
  else:
    ret = [[1]]
    for i in range(2,A + 1):
      ret.append([0] * i)
      ret[i-1][0] = 1
      ret[i - 1][-1] = 1
      for j in range(1,i-1):
        ret[i-1][j] = ret[i-2][j-1]+ret[i-2][j]
  return ret

In [ ]:
pascal(10)

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]

**Pascal Triangle 2.0**


Problem Description

Given an index k, return the kth row of the Pascal's triangle.
Pascal's triangle: To generate A[C] in row R, sum up A'[C] and A'[C-1] from previous row R - 1.

Example:

Input : k = 3


Return : [1,3,3,1]

Note: k is 0 based. k = 0, corresponds to the row [1]. 

Note: Could you optimize your algorithm to use only O(k) extra space?

In [ ]:
def pascal(A):
  A = A + 1
  ret = []
  if A == 0:
    return ret
  else:
    ret = [[1]]
    for i in range(2,A + 1):
      ret.append([0] * i)
      ret[i-1][0] = 1
      ret[i - 1][-1] = 1
      for j in range(1,i-1):
        ret[i-1][j] = ret[i-2][j-1]+ret[i-2][j]
  return ret[A-1]

In [ ]:
pascal(3)

[1, 3, 3, 1]

**Product of All**

Given an integer array A.
Create an array B such that Bi is the product of all elements of A excluding Ai.
Since the products can be too large take modulo 109 +7.

Input 1:
A = [1, 2, 3, 4]

Input 2:

A = [9, 9, 9]

Output 1:

[24, 12, 8, 6]

Output 2:

[81, 81, 81]

In [ ]:
def product(A):
  import numpy
  product = []
  m = 1
  for i in A:
    product.append(numpy.prod(A[A.index(i)+1:] + A[:A.index(i)]))
  return product

In [ ]:
product([9, 9, 9])

[81, 81, 81]

**Find Duplicate in Array**.

Find the duplicate integer in the array. 

If there are more than 2 duplicate intergers return any one duplicate interger.

If there aren't any duplicate intergers return -1.

In [ ]:
def duplicate(A):
  dup_list = []
  for i in set(A):
    if A.count(i) >= 2:
      dup_list.append(i)
  if len(dup_list) >= 2:
    return dup_list[0]
  elif len(dup_list) == 1:
    return dup_list[0]
  else:
    return -1

In [ ]:
duplicate([3,4,5,1])

-1

**Set Matrix Zero**

Given a matrix, A of size M x N of 0s and 1s. If an element is 0, set its entire row and column to 0.
Note: This will be evaluated on the extra memory used. Try to minimize the space and time complexity.

Input Format:

The first and the only argument of input contains a 2-d integer matrix, A, of size M x N.
Output Format:

Return a 2-d matrix that satisfies the given conditions.

Examples:

Input 1:
    [   [1, 0, 1],
        [1, 1, 1], 
        [1, 1, 1]   ]


Output 1:
    [   [0, 0, 0],
        [1, 0, 1],
        [1, 0, 1]   ]



Input 2:
    [   [1, 0, 1],
        [1, 1, 1],
        [1, 0, 1]   ]



Output 2:
    [   [0, 0, 0],
        [1, 0, 1],
        [0, 0, 0]   ]

In [ ]:
def set_zeros(A):
  row = set()
  col = set()
  for i in range(len(A)):
    for j in range(len(A[0])):
      if A[i][j] == 0:
        row.add(i)
        col.add(j)
  for i in row:
    for j in range(len(A[0])):
      A[i][j] = 0
  for j in col:
    for i in range(len(A)):
      A[i][j] = 0
  return A

In [ ]:
set_zeros([[1, 0, 1],[1, 1, 1],[1, 0, 1]])

[[0, 0, 0], [1, 0, 1], [0, 0, 0]]

**Add one to number**

Given a non-negative number represented as an array of digits, add 1 to the number ( increment the number represented by the digits ).

The digits are stored such that the most significant digit is at the head of the list.

Input 1:

[1, 2, 3]

Output 1:

[1, 2, 4]

Explanation 1:

Given vector is [1, 2, 3].
The returned vector should be [1, 2, 4] as 123 + 1 = 124.

In [ ]:
import numpy as np
def one_plus(A):
  arr = np.array(A)
  x = arr + 1
  y = x[-1]
  A.pop()
  A.append(y)
  return A

In [ ]:
one_plus([1,2,3])

[1, 2, 4]

**Longest Consecutive Sequence**

Given an unsorted array of integers, find the length of the longest consecutive elements sequence.

Example: 

Given [100, 4, 200, 1, 3, 2],

The longest consecutive elements sequence is [1, 2, 3, 4]. Return its length: 4.

In [ ]:
def longestConsecutive(A):
  A = sorted(A)
  con_list = [A[0]]
  m = A[0]
  for i in A[1:]:
    if i - m == 1:
      con_list.append(i)
      m = i
  return len(con_list)

In [ ]:
longestConsecutive([100, 4, 200, 1, 3, 2])

4

**2 sums**

Given an array of integers, find two numbers such that they add up to a specific target number.

The function twoSum should return indices of the two numbers such that they add up to the target, where index1 < index2. Please note that your returned answers (both index1 and index2 ) are not zero-based. Put both these numbers in order in an array and return the array from your function ( Looking at the function signature will make things clearer ). Note that, if no pair exists, return empty list.

In [ ]:
from itertools import combinations

def two_sum(A,target):
  emp_list = []
  for i in combinations(A,2):
    if sum(i) == target:
      for j in i:
        emp_list.append(A.index(j))
  index_1 = min(emp_list)
  index_2 = max(emp_list)
  return f'index 1 = {index_1} and index 2 = {index_2}'

In [ ]:
two_sum([2, 7, 11, 15],9)

'index 1 = 0 and index 2 = 1'

Checking Prime.

This function should take a number as input and output if that number is a prime or not.

In [ ]:
def check_prime(num):
  if num > 1:
    for i in range(2,num):
      if num % i == 0:
        print('It is not a prime number')
        break
    else:
      print('It is a prime number')
  else:
    print('It is not a prime number')

In [ ]:
check_prime(7)

It is a prime number